html, body {
    color: #ffffff;
    height: 100%;
    width: 100%;
}
html, body {
    font-size: 100%;
}
html {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*::-moz-placeholder {
    color: #cccccc;
}

section#bb {
    background: url(../images/noise.png);
}
section#bb {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background: url(../images/bg.jpg) no-repeat center center;
}
section.custom, section#hero, section#bb, section#about-us, #work section.case-study, section#clients, section#lets-talk {
    min-height: 45rem;
}
section.custom, section#hero, section#bb, section#about-us, #work section.case-study, section#clients, section#lets-talk {
    color: #ffffff;
    height: 100vh;
    text-align: center;
}
section {
    overflow: hidden;
    position: relative;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
Inherited from body
neonroots.com/media="screen"
body {
    font-size: 16px;
}
html, body {
    color: #ffffff;
    height: 100%;
    width: 100%;
}
body {
    background: #0a0a0a;
    color: #222;
    cursor: auto;
    font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}
html, body {
    font-size: 100%;
}
Inherited from html.js.flexbox.flexboxlegacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths.wf-adelle-n7-active.wf-adobetextpro-i4-active.wf-adobetextpro-n4-active.wf-nimbussans-n4-active.wf-nimbussans-n7-active.wf-active.crjs
neonroots.com/media="screen"
html {
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
}
neonroots.com/media="screen"
html, body {
    color: #ffffff;
    height: 100%;
    width: 100%;
}
neonroots.com/media="screen"
html, body {
    font-size: 100%;
}
Pseudo ::before element
neonroots.com/media="screen"
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
Pseudo ::after element
neonroots.com/media="screen"
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}